.MediaCardContainer{
    display: block;
    min-width: 200px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.MediaCardImage{
    height: 200px !important;
}
.MediaCardDescription{
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.MediaCardAvatar {
    background-color: red;
    margin: 10px !important;
}